@model Campaign

<form asp-controller="Campaign" asp-action="Create" method="post" class="p-3 w-75 m-auto">

    <div class="mb-3">
        <label> Kampanya Ayı Başlangıcını Giriniz </label>
        <input asp-for="StartMount" class="form-control" />
    </div>

    <div class="mb-3">
        <label> Kampanya Yılı Başlangıcı Giriniz </label>
        <input asp-for="StartYear" class="form-control" />
    </div>

    <div class="mb-3">
        <label> Kampanya Ayı Bitişi Giriniz </label>
        <input asp-for="EndMount" class="form-control" />
    </div>

    <div class="mb-3">
        <label> Kampanya Yılı Bitişi Giriniz </label>
        <input asp-for="EndYear" class="form-control" />
    </div>

    <div class="mb-3">
        <button class="btn btn-primary"> Kampanya Ekle </button>
    </div>

</form>