@model CreateTicketPageVM

<form asp-controller="Ticket" asp-action="CreateTicket" method="post" class="p-3 w-75 m-auto">

    <div class="mb-3">
        <label> Ticket Başlığı Giriniz </label>
        <input asp-for="Ticket.Title" class="form-control" />
    </div>

    <br />

    <div class="mb-3">
        <label> Ticket Konusu Seçiniz </label>
        <select asp-for="Ticket.SubjectID" asp-items='new SelectList(Model.Subjects,"ID","SubjectName")'></select>
    </div>

    <br />

    <div class="mb-3">
        <label> Ticket Açıklaması Giriniz </label>
        <input asp-for="Ticket.Description" class="form-control" />
    </div>

    <br />

    <div class="mb-3">
        <button class="btn btn-primary"> Ticket Ekle </button>
    </div>

</form>