@model CreateProductPageVM

<form asp-asp-controller="Product" asp-action="CreateProduct" method="post" class="p-3 w-75 m-auto" enctype="multipart/form-data">

    <div class="mb-3">
        <label> Ürün İsmi Giriniz </label>
        <input asp-for="Product.ProductName" class="form-control" />
    </div>

    <div class="mb-3">
        <label> Fiyat Giriniz </label>
        <input asp-for="Product.UnitPrice" class="form-control" />
    </div>

    <div class="mb-3">
        <label> Kategori Seçiniz </label>
        <select asp-for="Product.CategoryID" asp-items='new SelectList(Model.Categories,"ID","CategoryName")'>

        </select>
    </div>

    <div class="mb-3">
        <label> Dosya Seçiniz </label>
        <input  type="file" name="formFile" class="form-control" />
    </div>

    <div class="mb-3"> <button class="btn btn-primary"> Ürün Ekle </button> </div>

</form>